In [1]:
import pandas as pd

In [2]:
filehandle = 'ProjectData/daily_dataset.csv/daily_dataset.csv'
energydata = pd.read_csv(filehandle)

In [3]:
energydata.drop(['energy_median','energy_count'], inplace = True, axis =1)

In [5]:
filehandle = 'ProjectData/uk_bank_holidays.csv'
holidays = pd.read_csv(filehandle)
holidays.head()

  Bank holidays                                          Type
0    2012-12-26                                    Boxing Day
1    2012-12-25                                 Christmas Day
2    2012-08-27                           Summer bank holiday
3    2012-05-06  Queen?s Diamond Jubilee (extra bank holiday)
4    2012-04-06          Spring bank holiday (substitute day)

In [6]:
#'2012-12-25' in holidays['Bank holidays'].any()

In [7]:
energydata.loc[energydata.day == holidays['Bank holidays'][1]]

,LCLid,day,energy_mean,energy_max,energy_std,energy_sum,energy_min
376,MAC000131,2012-12-25,0.245167,0.835,0.214254,11.768,0.065
1183,MAC000132,2012-12-25,0.504875,1.556,0.405930,24.234,0.093
2004,MAC000221,2012-12-25,0.064000,0.107,0.021147,3.072,0.028
2825,MAC000228,2012-12-25,0.180062,1.444,0.207368,8.643,0.030
3646,MAC000234,2012-12-25,0.175854,0.707,0.130390,8.441,0.039
...,...,...,...,...,...,...,...
3506926,MAC004926,2012-12-25,0.025917,0.032,0.003059,1.244,0.023
3507697,MAC004932,2012-12-25,0.772542,2.056,0.506939,37.082,0.121
3508468,MAC004937,2012-12-25,0.131125,0.217,0.038756,6.294,0.072
3509236,MAC004965,2012-12-25,0.250437,0.617,0.171721,12.021,0.032
3510002,MAC004977,2012-12-25,0.193083,0.731,0.157788,9.268,0.038

In [31]:
# idea make a dummy not interested in which holiday is more, but perhaps it could become feature of model to know whether is a holiday
big_data_set = energydata

In [32]:
#big_data_set['Holiday'] = [1 for date in energydata.day if date in holidays['Bank holidays'] else 0] # 1 if holiday
#[1 if date in holidays['Bank holidays'] else 0 for date in energydata.day]
big_data_set['holiday'] = 0

for date in holidays['Bank holidays']:
    frame = big_data_set.loc[energydata.day == date].index
    
    for index in frame:
        big_data_set.at[index,'holiday'] =1

In [33]:
# big_data_set.loc[big_data_set['day'] == '2012-12-23']

In [26]:
big_data_set

,LCLid,day,energy_mean,energy_max,energy_std,energy_sum,energy_min,holiday
0,MAC000131,2011-12-15,0.432045,0.868,0.239146,9.505,0.072,0
1,MAC000131,2011-12-16,0.296167,1.116,0.281471,14.216,0.031,0
2,MAC000131,2011-12-17,0.189812,0.685,0.188405,9.111,0.064,0
3,MAC000131,2011-12-18,0.218979,0.676,0.202919,10.511,0.065,0
4,MAC000131,2011-12-19,0.325979,0.788,0.259205,15.647,0.066,0
...,...,...,...,...,...,...,...,...
3510428,MAC004977,2014-02-24,0.118458,0.580,0.093814,5.686,0.052,0
3510429,MAC004977,2014-02-25,0.084208,0.176,0.037107,4.042,0.046,0
3510430,MAC004977,2014-02-26,0.120500,0.282,0.069332,5.784,0.046,0
3510431,MAC004977,2014-02-27,0.114062,0.431,0.094482,5.475,0.047,0
3510432,MAC004977,2014-02-28,0.097000,0.097,NaN,0.097,0.097,0

In [57]:
# ACorn?
filehandle = 'ProjectData/informations_households.csv'
acron_data = pd.read_csv(filehandle)
acron_data.drop('file', inplace = True, axis =1)
acron_data

          LCLid stdorToU    Acorn Acorn_grouped
0     MAC005492      ToU   ACORN-        ACORN-
1     MAC001074      ToU   ACORN-        ACORN-
2     MAC000002      Std  ACORN-A      Affluent
3     MAC003613      Std  ACORN-A      Affluent
4     MAC003597      Std  ACORN-A      Affluent
...         ...      ...      ...           ...
5561  MAC002056      Std  ACORN-U       ACORN-U
5562  MAC004587      Std  ACORN-U       ACORN-U
5563  MAC004828      Std  ACORN-U       ACORN-U
5564  MAC001704      ToU  ACORN-U       ACORN-U
5565  MAC002774      ToU  ACORN-U       ACORN-U

[5566 rows x 4 columns]

In [54]:
# match on MAC_id
big_data_set = big_data_set.merge(acron_data, on = 'LCLid', how = 'left')

In [38]:
big_data_set

,LCLid,day,energy_mean,energy_max,energy_std,energy_sum,energy_min,holiday,stdorToU,Acorn,Acorn_grouped
0,MAC000131,2011-12-15,0.432045,0.868,0.239146,9.505,0.072,0,Std,ACORN-E,Affluent
1,MAC000131,2011-12-16,0.296167,1.116,0.281471,14.216,0.031,0,Std,ACORN-E,Affluent
2,MAC000131,2011-12-17,0.189812,0.685,0.188405,9.111,0.064,0,Std,ACORN-E,Affluent
3,MAC000131,2011-12-18,0.218979,0.676,0.202919,10.511,0.065,0,Std,ACORN-E,Affluent
4,MAC000131,2011-12-19,0.325979,0.788,0.259205,15.647,0.066,0,Std,ACORN-E,Affluent
...,...,...,...,...,...,...,...,...,...,...,...
3510428,MAC004977,2014-02-24,0.118458,0.580,0.093814,5.686,0.052,0,ToU,ACORN-E,Affluent
3510429,MAC004977,2014-02-25,0.084208,0.176,0.037107,4.042,0.046,0,ToU,ACORN-E,Affluent
3510430,MAC004977,2014-02-26,0.120500,0.282,0.069332,5.784,0.046,0,ToU,ACORN-E,Affluent
3510431,MAC004977,2014-02-27,0.114062,0.431,0.094482,5.475,0.047,0,ToU,ACORN-E,Affluent
3510432,MAC004977,2014-02-28,0.097000,0.097,NaN,0.097,0.097,0,ToU,ACORN-E,Affluent

## Weather

In [40]:
df_weather_daily = pd.read_csv("~/Documents/GitHub/CS512/CS512/ProjectData/weather_daily_darksky.csv")

def split_columns_weather(old_column_name,column_name_date,column_name_var,df_weather):
    df_weather[[column_name_date, column_name_var]] = df_weather[old_column_name].str.split(' ', 1, expand=True)
    df_weather.drop(old_column_name, axis=1, inplace=True)
    df_weather.drop(column_name_date, axis=1, inplace=True)
    
split_columns_weather('temperatureMinTime','Date','TemperatureMinTime',df_weather_daily)
split_columns_weather('temperatureMaxTime','Date','Temperature_max_time',df_weather_daily)
split_columns_weather('apparentTemperatureMinTime','Date','ApparentTemperatureMinTime',df_weather_daily)
split_columns_weather('apparentTemperatureMaxTime','Date','ApparentTemperatureMaxTime',df_weather_daily)
split_columns_weather('apparentTemperatureLowTime','Date','ApparentTemperatureLowTime',df_weather_daily)
split_columns_weather('apparentTemperatureHighTime','Date','ApparentTemperatureHighTime',df_weather_daily)
split_columns_weather('temperatureLowTime','Date','TemperatureLowTime',df_weather_daily)
split_columns_weather('temperatureHighTime','Date','TemperatureHighTime',df_weather_daily)
split_columns_weather('sunsetTime','Date','SunsetTime',df_weather_daily)
df_weather_daily[['date','SunriseTime']] = df_weather_daily['sunriseTime'].str.split(' ', 1, expand=True)
df_weather_daily.drop('sunriseTime', axis=1, inplace=True)

df_weather_daily.sort_values('date',inplace=True)

,temperatureMax,windBearing,icon,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,precipType,visibility,...,Temperature_max_time,ApparentTemperatureMinTime,ApparentTemperatureMaxTime,ApparentTemperatureLowTime,ApparentTemperatureHighTime,TemperatureLowTime,TemperatureHighTime,SunsetTime,date,SunriseTime
13,15.57,208,partly-cloudy-day,10.13,0.36,2.45,1009.46,15.57,rain,12.68,...,15:00:00,22:00:00,15:00:00,03:00:00,15:00:00,03:00:00,15:00:00,16:36:03,2011-11-01,06:54:29
60,15.19,134,partly-cloudy-night,10.23,0.39,4.39,1004.79,15.06,rain,11.83,...,23:00:00,03:00:00,23:00:00,19:00:00,13:00:00,19:00:00,13:00:00,16:34:15,2011-11-02,06:56:16
34,17.41,154,partly-cloudy-day,13.39,0.52,3.99,993.40,17.41,rain,12.15,...,14:00:00,21:00:00,14:00:00,07:00:00,14:00:00,07:00:00,14:00:00,16:32:29,2011-11-03,06:58:03
31,15.54,179,fog,12.03,0.50,2.62,995.54,15.54,rain,10.69,...,11:00:00,23:00:00,11:00:00,02:00:00,11:00:00,02:00:00,11:00:00,16:30:44,2011-11-04,06:59:49
46,13.94,346,fog,10.96,0.65,2.70,1007.39,13.94,rain,4.60,...,15:00:00,02:00:00,15:00:00,06:00:00,15:00:00,05:00:00,15:00:00,16:29:01,2011-11-05,07:01:36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
874,10.04,75,fog,2.08,0.44,2.36,1012.88,10.04,rain,8.19,...,13:00:00,06:00:00,13:00:00,03:00:00,13:00:00,03:00:00,13:00:00,18:25:26,2014-03-27,05:48:40
876,12.43,87,fog,3.67,0.19,3.31,1014.82,12.43,rain,6.24,...,14:00:00,03:00:00,14:00:00,02:00:00,14:00:00,01:00:00,14:00:00,18:27:06,2014-03-28,05:46:23
867,18.47,105,clear-day,5.37,0.08,4.19,1014.25,18.47,rain,8.59,...,14:00:00,02:00:00,14:00:00,04:00:00,14:00:00,05:00:00,14:00:00,18:28:46,2014-03-29,05:44:05
830,19.82,114,partly-cloudy-day,5.81,0.31,2.18,1013.04,19.82,rain,11.56,...,12:00:00,04:00:00,12:00:00,06:00:00,12:00:00,06:00:00,12:00:00,18:30:25,2014-03-30,05:41:48
844,16.37,138,partly-cloudy-day,7.61,0.32,1.92,1012.74,16.37,rain,13.29,...,13:00:00,06:00:00,13:00:00,06:00:00,13:00:00,06:00:00,13:00:00,18:32:05,2014-03-31,05:39:30

In [49]:
df_weather_daily.rename({'date':'day'}, inplace=True, axis=1)
df_weather_daily

,temperatureMax,windBearing,icon,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,precipType,visibility,...,Temperature_max_time,ApparentTemperatureMinTime,ApparentTemperatureMaxTime,ApparentTemperatureLowTime,ApparentTemperatureHighTime,TemperatureLowTime,TemperatureHighTime,SunsetTime,day,SunriseTime
13,15.57,208,partly-cloudy-day,10.13,0.36,2.45,1009.46,15.57,rain,12.68,...,15:00:00,22:00:00,15:00:00,03:00:00,15:00:00,03:00:00,15:00:00,16:36:03,2011-11-01,06:54:29
60,15.19,134,partly-cloudy-night,10.23,0.39,4.39,1004.79,15.06,rain,11.83,...,23:00:00,03:00:00,23:00:00,19:00:00,13:00:00,19:00:00,13:00:00,16:34:15,2011-11-02,06:56:16
34,17.41,154,partly-cloudy-day,13.39,0.52,3.99,993.40,17.41,rain,12.15,...,14:00:00,21:00:00,14:00:00,07:00:00,14:00:00,07:00:00,14:00:00,16:32:29,2011-11-03,06:58:03
31,15.54,179,fog,12.03,0.50,2.62,995.54,15.54,rain,10.69,...,11:00:00,23:00:00,11:00:00,02:00:00,11:00:00,02:00:00,11:00:00,16:30:44,2011-11-04,06:59:49
46,13.94,346,fog,10.96,0.65,2.70,1007.39,13.94,rain,4.60,...,15:00:00,02:00:00,15:00:00,06:00:00,15:00:00,05:00:00,15:00:00,16:29:01,2011-11-05,07:01:36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
874,10.04,75,fog,2.08,0.44,2.36,1012.88,10.04,rain,8.19,...,13:00:00,06:00:00,13:00:00,03:00:00,13:00:00,03:00:00,13:00:00,18:25:26,2014-03-27,05:48:40
876,12.43,87,fog,3.67,0.19,3.31,1014.82,12.43,rain,6.24,...,14:00:00,03:00:00,14:00:00,02:00:00,14:00:00,01:00:00,14:00:00,18:27:06,2014-03-28,05:46:23
867,18.47,105,clear-day,5.37,0.08,4.19,1014.25,18.47,rain,8.59,...,14:00:00,02:00:00,14:00:00,04:00:00,14:00:00,05:00:00,14:00:00,18:28:46,2014-03-29,05:44:05
830,19.82,114,partly-cloudy-day,5.81,0.31,2.18,1013.04,19.82,rain,11.56,...,12:00:00,04:00:00,12:00:00,06:00:00,12:00:00,06:00:00,12:00:00,18:30:25,2014-03-30,05:41:48
844,16.37,138,partly-cloudy-day,7.61,0.32,1.92,1012.74,16.37,rain,13.29,...,13:00:00,06:00:00,13:00:00,06:00:00,13:00:00,06:00:00,13:00:00,18:32:05,2014-03-31,05:39:30

In [50]:
big_data_set = big_data_set.merge(df_weather_daily, on = 'day', how = 'left')

In [51]:
big_data_set

,LCLid,day,energy_mean,energy_max,energy_std,energy_sum,energy_min,holiday,stdorToU,Acorn,...,TemperatureMinTime,Temperature_max_time,ApparentTemperatureMinTime,ApparentTemperatureMaxTime,ApparentTemperatureLowTime,ApparentTemperatureHighTime,TemperatureLowTime,TemperatureHighTime,SunsetTime,SunriseTime
0,MAC000131,2011-12-15,0.432045,0.868,0.239146,9.505,0.072,0,Std,ACORN-E,...,00:00:00,14:00:00,00:00:00,21:00:00,08:00:00,14:00:00,08:00:00,14:00:00,15:52:48,08:00:46
1,MAC000131,2011-12-16,0.296167,1.116,0.281471,14.216,0.031,0,Std,ACORN-E,...,08:00:00,00:00:00,10:00:00,00:00:00,08:00:00,15:00:00,08:00:00,15:00:00,15:52:56,08:01:35
2,MAC000131,2011-12-17,0.189812,0.685,0.188405,9.111,0.064,0,Std,ACORN-E,...,08:00:00,14:00:00,08:00:00,15:00:00,06:00:00,15:00:00,07:00:00,14:00:00,15:53:06,08:02:21
3,MAC000131,2011-12-18,0.218979,0.676,0.202919,10.511,0.065,0,Std,ACORN-E,...,23:00:00,14:00:00,06:00:00,14:00:00,02:00:00,14:00:00,01:00:00,14:00:00,15:53:20,08:03:04
4,MAC000131,2011-12-19,0.325979,0.788,0.259205,15.647,0.066,0,Std,ACORN-E,...,01:00:00,19:00:00,02:00:00,19:00:00,08:00:00,19:00:00,04:00:00,19:00:00,15:53:38,08:03:43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3510428,MAC004977,2014-02-24,0.118458,0.580,0.093814,5.686,0.052,0,ToU,ACORN-E,...,07:00:00,13:00:00,08:00:00,13:00:00,03:00:00,13:00:00,03:00:00,13:00:00,17:32:15,06:58:05
3510429,MAC004977,2014-02-25,0.084208,0.176,0.037107,4.042,0.046,0,ToU,ACORN-E,...,21:00:00,00:00:00,11:00:00,00:00:00,07:00:00,14:00:00,07:00:00,14:00:00,17:34:02,06:55:59
3510430,MAC004977,2014-02-26,0.120500,0.282,0.069332,5.784,0.046,0,ToU,ACORN-E,...,07:00:00,13:00:00,07:00:00,13:00:00,00:00:00,13:00:00,00:00:00,13:00:00,17:35:49,06:53:52
3510431,MAC004977,2014-02-27,0.114062,0.431,0.094482,5.475,0.047,0,ToU,ACORN-E,...,23:00:00,14:00:00,22:00:00,14:00:00,02:00:00,14:00:00,02:00:00,14:00:00,17:37:35,06:51:45
3510432,MAC004977,2014-02-28,0.097000,0.097,NaN,0.097,0.097,0,ToU,ACORN-E,...,02:00:00,14:00:00,02:00:00,14:00:00,08:00:00,14:00:00,08:00:00,14:00:00,17:39:22,06:49:37

In [58]:
big_data_set.to_pickle('ProjectData/bigdataset.pkl')